$blueColor: #23bad5
$yellowColor: #e2d72f
$redColor: #f6625e
$textColor: #71757e
input::-webkit-input-placeholder
	font-size: 16px
	font-weight: normal
	color: $textColor
input::-moz-placeholder
	font-size: 16px
	font-weight: normal
	color: $textColor
input:-ms-input-placeholder
	font-size: 16px
	font-weight: normal
	color: $textColor
input:-moz-placeholder
	font-size: 16px
	font-weight: normal
	color: $textColor
textarea::-webkit-input-placeholder
	font-size: 16px
	color: #aeaeb0
textarea::-moz-placeholder
	font-size: 16px
	color: #aeaeb0
textarea:-ms-input-placeholder
	font-size: 16px
	color: #aeaeb0
textarea:-moz-placeholder
	font-size: 16px
	color: #aeaeb0
.main_btn
	height: 60px
	text-transform: uppercase
	position: relative
	color: #fff
	font-weight: 500
	font-size: 2.5rem
	background-color: $redColor
	display: block
	width: 100%
	max-width: 267px
	cursor: pointer
	transition: all .2s
	&:hover
		background-color: $blueColor
.popup_bg
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -1
	background-color: rgba(0,0,0,.5)
	opacity: 0
	transition: opacity .3s
.popup_window
	position: fixed
	left: 0
	z-index: 222
	right: 0
	margin: 0 auto
	top: 115px
	max-width: 670px
	display: none
	background-color: #fff
	.btn_close
		color: #fff
		font-size: 20px
		line-height: 20px
		display: inline-block
		position: absolute
		right: 0
		top: -30px
		cursor: pointer
	&__header
		height: 164px
		background-image: url("../img/popup_header.jpg")
		padding: 2.5rem 3rem
		text-align: left
		.section_title
			line-height: 6rem
	&__content
		padding: 3rem 5.5rem
		form
			text-align: left
			input
				height: 60px
				border: 2px #d5d5d5 solid
				text-indent: 3rem
				width: 100%
				margin-bottom: 3rem
				max-width: 267px
				&:nth-of-type(odd)
					margin-right: 20px
			.main_btn
				margin: 0 auto
.popup_window.opened
	display: block
html
	font-size: 10px
	body
		min-width: 320px
		font: 1.8rem "Roboto", sans-serif
		font-weight: normal
		position: relative
		margin: 0 auto
		overflow-x: hidden
		input,input:focus,select,select:focus,textarea
			outline: none
		a
			color: inherit
			outline: none
			text-decoration: none
		button
			border: 0
			outline: 0
		section
			position: relative
			&:before
				content: ""
				position: absolute
				width: 100%
				left: 0
				z-index: -5
				background-repeat: no-repeat
				background-position-x: center
			&:after
				display: table
				clear: both
				content: ""
		.section_title
			display: inline-block
			padding-left: 25px
			font: 8rem "Bebas", sans-serif
			line-height: 7rem
			font-weight: normal
			position: relative
			text-transform: uppercase
			color: $redColor
			overflow: hidden
			.section_desc
				display: block
				font-size: 5rem
				line-height: 5rem
				position: relative
				top: 6px
				font-weight: 300
				color: $textColor
			&--right
				margin-left: 9.2em
			&--small
				line-height: 5.6rem
				overflow: visible
			&:before
				content: ""
				position: absolute
				width: 5px
				height: 100%
				left: 0
				top: 7px
				background-color: $redColor
				background-repeat: no-repeat
			&--small:before
				top: 1px
			&:after
				display: table
				content: ""
				clear: both
.container
	width: 1200px
	padding-right: 15px
	padding-left: 15px
	position: relative
	margin: 0 auto
	&:after
		content: ""
		display: table
		clear: both
*
	box-sizing: border-box
	&:before,
	&:after
		box-sizing: border-box
label.error
	display: none!important
input.error
	border: 2px solid red!important